<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <div class="col-md-10 text-center"><h2><%=title%></h2></div>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <section class="site-section" id="contact-section">
      <div class=" container form">
        
        <form class="text-center" id="addContact" method="post">
          <div class="row mb-4">
            <div class="form-group col-4">
              <input type="text" class="form-control" placeholder="Full name" name="full_name" required>
            </div>
          </div>
          <div class="row mb-4">
            <div class="form-group col-4">
              <input type="email" class="form-control" placeholder="Email address" name='email' required>
            </div>
          </div>

          <div class="row mb-4">
            <div class="form-group col-4">
              <input type="text" class="form-control" placeholder="Subject of the message" name="subject" required>
            </div>
          </div>

          <div class="row mb-4">
            <div class="form-group col-4">
              <textarea cols="30" rows="5" class="form-control" name='message' placeholder="Type your message here.." required></textarea>
            </div>
          </div>

         

          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary"  onclick="add(this)">Submit</button>
            </div>
          </div>
          
        </form>

   
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>




 
 

    
  </body>
  <script>

    function add(data) {
      var data = {};
    $.each($('#addContact').serializeArray(), function(i, field) {
        data[field.name] = field.value;
      });
     
  $.ajax({
          url: "/api/contacts/add",
          method: "POST",
          data
        }).done(function() {
          alert("Contact Added successfully");
          location.reload(true);
        });
        event.preventDefault();

      }
  </script>
</html>
